# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Prisma Sample with Planet Scale
# Refer: https://github.com/prisma/prisma/issues/7292
DATABASE_URL="mysql://username:password@host/database?ssl={"rejectUnauthorized":true}&sslaccept=strict"
SHADOW_DATABASE_URL="mysql://username:password@host/shadow-database?ssl={"rejectUnauthorized":true}&sslaccept=strict"